.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  /* 
move animation calls here  */
}

.letters {
  margin: auto;
  width: 800px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: ". l1 l1 l2 l2 l3 . ." "l4 l4 l5 l5 l5 l6 . ." "l7 l7 l5 l5 l5 l8 l8 ." ". . . l9 l10 l10 . .";
}

.letter {
  border: 2px solid black;
}
.l1 {
  grid-area: l1;
}

.l2 {
  grid-area: l2;
}

.l3 {
  grid-area: l3;
}

.l4 {
  grid-area: l4;
}

.l5 {
  grid-area: l5;
}

.l6 {
  grid-area: l6;
}

.l7 {
  grid-area: l7;
}

.l8 {
  grid-area: l8;
}

.l9 {
  grid-area: l9;
}

.l10 {
  grid-area: l10;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient (#333, #000);
}
.set {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  right: 0;
}
.set div {
  position: absolute;
  display: block;
}
.set div:nth-child(1) {
  left: 60%;
  animation: animate 15s linear;
  visibility: hidden;
}
.set div:nth-child(2) {
  left: 20%;
  animation: animate 20s linear;
  visibility: hidden;
}
.set div:nth-child(3) {
  left: 40%;
  animation: animate 25s linear;
  visibility: hidden;
}
.set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear;
  visibility: hidden;
}
.set div:nth-child(5) {
  left: 80%;
  animation: animate 18s linear;
  visibility: hidden;
}
.set div:nth-child(6) {
  left: 15%;
  animation: animate 12s linear;
  visibility: hidden;
}
.set div:nth-child(7) {
  left: 55%;
  animation: animate 14s linear;
  visibility: hidden;
}
.set div:nth-child(8) {
  left: 90%;
  animation: hiding 20s linear;
  visibility: hidden;
  background-color: aqua;
}

@keyframes hiding {
  0% {
    top: -10%;
    visibility: hidden;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    visibility: visible;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    /* transform: translateX(20px) rotate(135deg); */
    visibility: hidden;
  }
  80% {
    /* transform: translateX(-20px) rotate(180deg); */
  }
  100% {
    /* top: 110%; */
    filter: blur(2px);
    /* transform: translateX(-30px) rotate(205deg); */
  }
}

@keyframes animate {
  0% {
    top: -10%;
    visibility: hidden;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    visibility: visible;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(135deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    /* top: 110%; */
    filter: blur(2px);
    transform: translateX(-30px) rotate(205deg);
  }
}
.set2 {
  transform: rotateY(180deg);
  /* filter: blur(2px); */
  /* background-color: palegreen; full screen */
}
.set3 {
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px);
}
